div.popup-globalwrap
{
    display: flex;
    position: fixed; z-index: 90;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0; bottom: 0;
    left: 0; right: 0;
}

div.popup-wrap
{
    position: relative; z-index: 95;
    margin: auto;
}

div.popup-wrap > div.popup-title
{
    position: relative;
    background-color: #e03232;
    width: 100%; min-height: 1rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    color: #FCFCFC;
    text-align: center;
}

div.popup-wrap > div.popup-title > span::before
{
    content: '⛌';
    display: block;
    position: absolute;
    top: 0; right: 0;
    width: 1rem; height: 1rem;
    color: #FCFCFC;
    font-size: 0.7rem;
    cursor: pointer;
}

div.popup-wrap > div.popup-content
{
    background-color: #FCFCFC;
    color: #e03232;
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid #e03232;
    border-top: none;
    box-sizing: border-box;
}

#contenaire
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
header
{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}
div.AffichageListMedecin
{
    position: relative;
    width: 100%; height: 50%;
    border: 1px solid #4E5E73;
}

/* div.AffichageMedecin
{
     
    position: relative;
    width: 50%; height: 50%;
    border: 1px solid #555454;
} */


#TableauMesMedecin
{
    display: flex;
    flex-direction: column;
    
    flex-wrap: nowrap;
    background-color: #3e4b5b;
    /* background-color: #313d4C; */
    width: 100%; height: 80%;
}


#TableauMesMedecin > div.lignetitre
{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    /* border: 1px solid #555454; */
    border-bottom: 1px solid #4E5E73;
    
}

div.titre
{
    height: 100%;
    width: 25%;
    background-color: #313d4C;
    color : white;
    border: 2px;
    align-items: center;
}
#TableauMesMedecin > div > div.MesMedecin
{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #4E5E73;
    margin-left: auto; padding: 5px 0;
    /* border: 1px solid #555454; */
}

#TableauMesMedecin > div > div.MesMedecinNonValide
{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    /* border-bottom: 1px solid #4E5E73; */
    border: 1px solid rgb(138, 0, 0);
    /* background-color: rgb(255, 183, 183); */
    margin-left: auto; padding: 5px 0;
    /* border: 1px solid #555454; */
}
/* #TableauMesMedecin > div > div.MesMedecinNonValide :active
{
    background-color: #3e4b5b;
}
#TableauMesMedecin > div > div.MesMedecinNonValide :hover
{
    background-color: #3e4b5b;
} */

#TableauMesMedecin > div > div.MesMedecin :active
{
    background-color: #3e4b5b;
}
#TableauMesMedecin > div > div.MesMedecin :hover
{
    background-color: #3e4b5b;
}
div.donee
{
    height: 100%;
    width: 25%;
    /* background-color: green; */
    
    color : white;
    border: 2px;
    align-items: center;
}

div.doneeNonValide
{
    height: 100%;
    width: 25%;
    color : gray;
    border: 2px;
    align-items: center;
}
