<header>
  <div class="AffichageListMedecin">
   
    <span>
      <div *ngIf="compte.Erreur" class="popup-globalwrap">
        <div class="popup-wrap Warning">
          <div class="popup-title">
              <span (click)=cacher()></span>
          </div>
          <div class="popup-content">{{compte.Erreur}}</div>
        </div>
      </div>
    </span>
    <nav id="TableauMesMedecin">
      <div class="lignetitre" >
        <div class="titrenom">nom</div>
        <div class="titreprenom">prenom</div>
        <div class="titremail">adresse Mail</div>
        <div class="titretel">Telephone</div>
        <div class="titresuppr">Suppression</div>
      </div>

      <div *ngFor="let Medecin of patient.MesMedecin" [class.selected]="Medecin == CompteSelect" style="background :#3e4b5b">
        <div class="MesMedecin" *ngIf="Medecin.ConfirmationPatient && Medecin.ConfirmationMedecin">
          <div class="doneenom">{{Medecin.Nom}}</div>
          <div class="doneeprenom">{{Medecin.Prenom}}</div>
          <div class="doneemail">{{Medecin.AdresseMail}}</div>
          <div class="doneetel">{{Medecin.Telephone}}</div>
          <div class="doneesuppr"><button type="submit" (click)="SupprMedecin(Medecin)">Supprimer</button></div>

          
        </div>
        <div class="MesMedecinNonValide" *ngIf="Medecin.ConfirmationPatient && !Medecin.ConfirmationMedecin">
          <div class="doneeNonValidenom">{{Medecin.Nom}}</div>
          <div class="doneeNonValideprenom">{{Medecin.Prenom}}</div>
          <div class="doneeNonValidemail">{{Medecin.AdresseMail}}</div>
          <div class="doneeNonValidetel">{{Medecin.Telephone}}</div>
          <div class="doneesuppr"><button type="submit" (click)="SupprMedecin(Medecin)">Supprimer</button></div>
        </div>
        <div class="MesMedecinNonValide" *ngIf="!Medecin.ConfirmationPatient && Medecin.ConfirmationMedecin">
          <div class="doneeNonValidenom">{{Medecin.Nom}}</div>
          <div class="doneeNonValideprenom">{{Medecin.Prenom}}</div>
          <div class="doneeNonValidemail">{{Medecin.AdresseMail}}</div>
          <div class="doneeNonValidetel">{{Medecin.Telephone}}</div>
          <div class="doneesuppr"><button type="submit" (click)="ValiderNouveauMedecin(Medecin)">Valider</button></div>
          
        </div>
      </div>
    </nav>

    <div>
      <!-- <table class="table table-hover table-dark">
        <thead>
          <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prenom</th>
              <th scope="col">Supprimer</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Compte of compte.MesMedecin" [class.selected]="Compte == CompteSelect">
                <td>{{Compte.Nom}}</td>
                <td>{{Compte.Prenom}}</td>
                <td><a href="#" class="badge badge-secondary">Supprimer</a></td> 
                <td><button type="button" class="btn btn-outline-primary" (click)="SupprMedecin(Compte)">Supprimer</button></td>
            </tr>
        </tbody>
    </table> -->
    
    
      <!-- <ul>
        <li *ngFor="let Compte of compte.MesMedecin" [class.selected]="Compte == CompteSelect" (click)="selectAffichage(Compte)">
          {{Compte.Nom}} {{Compte.Prenom}}
        </li>
      </ul> -->
      <input type="text" name ="Nom" [(ngModel)]="Nomrecherche" (keyup)="RechercherNouveauMedecin()" placeholder="Nom Medecin" autocomplete="off">
      <br />
      <!-- <div *ngIf="ListMedecin">
          <ul>
            <li *ngFor="let Compte of ListMedecin" [class.selected]="Compte == CompteSelect" (click)="onselect(Compte)">
                {{Compte.Nom}} {{Compte.Prenom}}
            </li>
          </ul>
        </div> -->

        <!-- <div *ngIf="ListMedecin">
          <table class="table table-hover table-dark">
              <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Ajouter</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Compte of ListMedecin" [class.selected]="Compte == CompteSelect">
                  <td>{{Compte.Nom}}</td>
                  <td>{{Compte.Prenom}}</td>
                  <td><button type="button" class="btn btn-outline-primary" (click)="AjoutMedecin(Compte)">Ajouter</button></td>
                </tr>
              </tbody>
          </table>
        </div> -->

        <div *ngIf="ListMedecin">
          <div class="TableMedecin">
              <mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="Nom">
                    <mat-header-cell *matHeaderCellDef> Nom</mat-header-cell>
                  <mat-cell *matCellDef="let Medecin">{{Medecin.Nom}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="Prénom">
                  <mat-header-cell *matHeaderCellDef> Prénom</mat-header-cell>
                  <mat-cell *matCellDef="let Medecin">{{Medecin.Prenom}}</mat-cell>
                </ng-container>
                    
                <ng-container matColumnDef="Ajouter">
                  <mat-header-cell *matHeaderCellDef> Ajouter</mat-header-cell>
                  <mat-cell *matCellDef="let Medecin"><button type="submit" (click)="AjoutMedecin(Medecin)">Ajouter</button></mat-cell>
                </ng-container>
              
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
              </mat-table>
            </div>
        </div>
    </div>
  </div>
  <div *ngIf="medecin.IDWeb != 0" class="AffichageMedecin">
      <app-medecin-information></app-medecin-information>
  </div>
</header>






