<div id="contenaire">
  <header>
    <div class="AffichageListPatient">
      <span>
        <p>Mes Patients</p>
        <div *ngIf="compte.Erreur" class="popup-globalwrap">
          <div class="popup-wrap Warning">
            <div class="popup-title">
                <span (click)=cacher()></span>
            </div>
            <div class="popup-content">{{compte.Erreur}}</div>
          </div>
        </div>
      </span>
      
      <div>
        <ul>
          <li *ngFor="let Compte of compte.MesPatients" [class.selected]="Compte == CompteSelect" (click)="selectAffichage(Compte)">
            {{Compte.Nom}} {{Compte.Prenom}} {{Compte.Identifiant}}
          </li>
        </ul>
        <input type="text" name ="Nom" [(ngModel)]="Nomrecherche" (keyup)="RechercherNouveauPatient()" placeholder="Nom patient" autocomplete="off">
        <br />
        <div *ngIf="ListPatient">
            <ul>
              <li *ngFor="let Compte of ListPatient" [class.selected]="Compte == CompteSelect" (click)="onselect(Compte)">
                  {{Compte.Nom}} {{Compte.Prenom}} {{Compte.Identifiant}}
              </li>
            </ul>
          </div>
      </div>
      
    </div>
    <div *ngIf="patient.IDWeb != 0" class="AffichagePatient">
   
          <nav id="mainmenu">
            <!-- <a class="nav-AffichagePatient" [routerLink]="[{outlets:{outlerpatient:['patientinfo']}}]">Information Patient</a>
            <a class="nav-Ordonnance" [routerLink]="[{outlets:{outlerordonnance:['ordonnance']}}]">Ordonnance</a> -->
            <a class="nav-AffichagePatient" [routerLink]="['patientinfo']">Information Patient</a>
            <a class="nav-Ordonnance" [routerLink]="['ordonnance']">Ordonnance</a>
             
          </nav>
          
          <app-patient-information></app-patient-information>
          <app-patient-ordonnance></app-patient-ordonnance>


          <!-- <router-outlet></router-outlet> -->
          <!-- <router-outlet name="outlerpatient"></router-outlet>
          <router-outlet name="outlerordonnance"></router-outlet> -->
        <!-- <app-patient-information></app-patient-information> -->
    </div>
  </header>
  <body>
    <div *ngIf="patient.IDWeb != 0" class="AffichageCourbe">
        <app-patient-courbes></app-patient-courbes>
    </div>
  </body>
</div>