/*div.Warning
{
    display: flex;
    position: fixed;

    background-color: #e03232;

    top: 50%; left: 50%;

   /* margin: 0 auto;*
    padding: 0.5rem 1rem;
    
    color: #FCFCFC;

    align-self: center;
}*/

/* header
{
    display: flex;
    background-color: #3e4b5b;
    height: 4rem;
    padding: 0 1.5rem;
    border-bottom: 1px solid #4E5E73;
    align-items: center;
    flex: 0 0 auto;
} */
/* nav#mainmenu
{
    display: flex;
    height: 100%;
    margin-left: 1.5rem;
} */

/* nav#mainmenu > a
{
    display: flex;
    height: 100%;
    padding: 0 1rem;
    color: #ABB4C0;
    text-decoration: none;
    align-items: center;
} */

/* nav#mainmenu > a:hover
{
    background-color: #455466;
} */


div.popup-globalwrap
{
    display: flex;
    position: fixed; z-index: 90;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0; bottom: 0;
    left: 0; right: 0;
}

div.popup-wrap
{
    position: relative; z-index: 95;
    margin: auto;
}

div.popup-wrap > div.popup-title
{
    position: relative;
    background-color: #e03232;
    width: 100%; min-height: 1rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    color: #FCFCFC;
    text-align: center;
}

div.popup-wrap > div.popup-title > span::before
{
    content: '⛌';
    display: block;
    position: absolute;
    top: 0; right: 0;
    width: 1rem; height: 1rem;
    color: #FCFCFC;
    font-size: 0.7rem;
    cursor: pointer;
}

div.popup-wrap > div.popup-content
{
    background-color: #FCFCFC;
    color: #e03232;
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid #e03232;
    border-top: none;
    box-sizing: border-box;
}

#contenaire
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
header
{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}
div.AffichageListPatient
{
    position: relative;
    width: 40%; height: 50%;
    border: 1px solid #555454;
}

div.AffichagePatient
{
    position: relative;
    width: 60%; height: 50%;
    border: 1px solid #555454;
}

div.AffichageCourbe
{
    position: relative;
    width: 100%; height: 100%;
    border: 1px solid #555454;
}


/* pour le tabs */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
div.tab button:hover {
    background-color: #ddd;
}
div.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}



#TableauMesPatient
{
    display: flex;
    flex-direction: column;
    
    flex-wrap: nowrap;
    background-color: #3e4b5b;
    /* background-color: #313d4C; */
    width: 100%; height: 80%;
}

#TableauMesPatient > div.lignetitre
{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    /* border: 1px solid #555454; */
    border-bottom: 1px solid #4E5E73;
    
}


#TableauMesPatient > div.MesPatient
{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #4E5E73;
    margin-left: auto; 
    /* padding: 5px 0; */
    /* border: 1px solid #555454; */
}

#TableauMesPatient > div.MesPatient :active
{
    background-color: #3e4b5b;
}
#TableauMesPatient > div.MesPatient :hover
{
    background-color: #3e4b5b;
}

div.titrenom, div.titreprenom
{
    height: 100%;
    width: 20%;
    background-color: #313d4C;
    color : white;
    border: 2px;
    align-items: center;
}
div.titremail, div.titreportable
{
    height: 100%;
    width: 30%;
    background-color: #313d4C;
    color : white;
    border: 2px;
    align-items: center;
}                         

div.valeurnom, div.valeurprenom
{
    height: 100%;
    width: 20%;
    /* background-color: red; */
    color : white;
    border: 2px;
    align-items: center;
}
div.AdresseMail, div.TelephonePortable
{
    height: 100%;
    width: 30%;

    color : white;
    border: 2px;
    align-items: center;
}