<div id="contenaire" *ngIf="compte.Officiel">
  <header>
    <div class="AffichageListPatient">
      <span>
        <div *ngIf="compte.Erreur" class="popup-globalwrap">
          <div class="popup-wrap Warning">
            <div class="popup-title">
                <span (click)=cacher()></span>
            </div>
            <div class="popup-content">{{compte.Erreur}}</div>
          </div>
        </div>
      </span>

      <div>
        <nav id="TableauMesPatient">
          <div class="lignetitre" >
            <div class="titrenom">nom</div>
            <div class="titreprenom">prenom</div>
            <div class="titremail">adresse Mail</div>
            <div class="titreportable">Telephone Portable</div>
            <div class="supprimer">Supprimer</div>
          </div>

          <div *ngFor="let Patient of compte.MesPatients" style="background :#3e4b5b">
            <div class="MesPatient" *ngIf="Patient.ConfirmationPatient && Patient.ConfirmationMedecin" [class.selected]="Patient == CompteSelect" (click)="selectAffichage(Patient)" >
              <div class="donee">{{Patient.Nom}}</div>
              <div class="donee">{{Patient.Prenom}}</div>
              <div class="donee">{{Patient.AdresseMail}}</div>
              <div class="donee">{{Patient.TelephonePortable}}</div>
              <div class="donee" (click)="SupprPatient(Patient)">Supprimer</div>
            </div>

            <div class="MesPatientNonValide" *ngIf="!Patient.ConfirmationPatient && Patient.ConfirmationMedecin">
              <div class="doneenomValide">{{Patient.Nom}}</div>
              <div class="doneenomValide">{{Patient.Prenom}}</div>
              <div class="doneenomValide">{{Patient.AdresseMail}}</div>
              <div class="doneenomValide">{{Patient.Telephone}}</div>
              <div class="doneenomValide" (click)="SupprPatient(Patient)">Supprimer</div>
            </div>

            <div class="MesPatientNonValide" *ngIf="Patient.ConfirmationPatient && !Patient.ConfirmationMedecin">
              <div class="doneenomValide">{{Patient.Nom}}</div>
              <div class="doneenomValide">{{Patient.Prenom}}</div>
              <div class="doneenomValide">{{Patient.AdresseMail}}</div>
              <div class="doneenomValide">{{Patient.Telephone}}</div>
              <div class="doneenomValide" (click)="ValiderNouveauPatient(Patient)">Accepter</div>
            </div>
          </div>
        </nav>

        <input type="text" name ="Nom" [(ngModel)]="Nomrecherche" (keyup)="RechercherNouveauPatient()" placeholder="Nom patient" autocomplete="off">
        <br />

        <div *ngIf="ListPatient">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="Nom">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nom</mat-header-cell>
              <mat-cell *matCellDef="let compte" (click)="selectAffichage(compte)">{{compte.Nom}}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="Prénom">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Prénom</mat-header-cell>
              <mat-cell *matCellDef="let compte">{{compte.Prenom}}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="AdresseMail">
              <mat-header-cell *matHeaderCellDef mat-sort-header> AdresseMail</mat-header-cell>
              <mat-cell *matCellDef="let compte">{{compte.AdresseMail}}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="Supprimer">
              <mat-header-cell *matHeaderCellDef> Ajouter</mat-header-cell>
              <mat-cell *matCellDef="let compte"><button type="submit" (click)="onselect(compte)">Supprimer</button></mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          


        
          <table class="table table-hover table-dark">
              <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Ajouter</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Compte of ListPatient" [class.selected]="Compte == CompteSelect" (click)="onselect(Compte)">
                  <td>{{Compte.Nom}}</td>
                  <td>{{Compte.Prenom}}</td>
                  <td><button type="button" class="btn btn-outline-primary" (click)="onselect(Compte)">Ajouter</button></td>
                </tr>
              </tbody>
          </table> 
        </div>
      </div>
    </div>

    <form *ngIf="compte">
      <div class="wrap-tabs">
          <form #f="ngForm">
            <label class="label_tab" for="radio_Information">
              Information Patient
              <input id="radio_Information" type="radio" checked="checked" value="1" name="Typechoix1" [(ngModel)]="Tabulation">
            </label>
    
            <label class="label_tab" for="radio_Ordonnance">
              Ordonnance
              <input id="radio_Ordonnance" type="radio" value="2" name="Typechoix2" [(ngModel)]="Tabulation">
            </label>
    
            <label class="label_tab" for="radio_Facteurs">
              Facteurs
              <input id="radio_Facteurs" type="radio" value="3" name="Typechoix3" [(ngModel)]="Tabulation">
            </label>
          </form>
        </div>

      <div class="wrap-form_content">
        <div class="form-group" *ngIf="Tabulation == 1">
            <app-patient-information></app-patient-information>
        </div>
        <div class="form-group" *ngIf="Tabulation == 2">
            <app-patient-ordonnance></app-patient-ordonnance>
        </div>
        <div class="form-group" *ngIf="Tabulation == 3">
            <app-patient-facteurs></app-patient-facteurs>
        </div>
      </div>
    </form>
  </header>
  <body>
    <div *ngIf="patient.IDWeb != 0" class="AffichageCourbe">
        <app-patient-mesmigraines></app-patient-mesmigraines>
    </div>
  </body>
</div>
<div id="contenaire" *ngIf="compte.Officiel == false">
  <label>Vous n'avez pas encore les droits d'utiliser cettre rubrique. Veuillez contacter l'administrateur</label>
</div>
