
<div id="Autentification" *ngIf="!Congratulation">
  <div class="row">
    <input type="text" [(ngModel)]="compte.Identifiant" placeholder="Identifiant">
    <input type="password" name ="password" [(ngModel)]="compte.MotDePass" placeholder="Mot de passe">
    <button type="submit" (click)=connexion()>Connexion</button><br />
  </div>
  <a class="link_forgotpassw">Mot de passe oublié ? </a>
  <a *ngIf="!Nouveau" class="link_newaccount" (click)="NouveauCompte()">Nouveau compte</a>
  <div *ngIf="compte.Erreur" class="login-error">{{compte.Erreur}}</div>

</div>

<div id="Congratulation" *ngIf="Congratulation">
  <h6>Bienvenu {{compte.Prenom}} {{compte.Nom}}</h6>
  <a class="link_viewaccount" (click)="VoirCompte()">Mon compte</a>
  <button type="button" id="deconnexion" (click)="Deconnexion()">Déconnexion</button>
</div>


