
<div id="Autentification" *ngIf="!Congratulation">
  <div class="row">
    <input type="text" [(ngModel)]="compte.Identifiant" (click)="EffaceErreur()" placeholder="Identifiant">
    <input type="password" name ="password" [(ngModel)]="compte.MotDePass" (click)="EffaceErreur()" placeholder="Mot de passe">
    <button type="submit" (click)=connexion()>Connexion</button><br />
  </div>
  <a class="link_forgotpassw">Mot de passe oublié ? </a>
  <a *ngIf="!Nouveau" class="link_newaccount" (click)="NouveauCompte()">Nouveau compte</a>
  <div *ngIf="compte.Erreur" class="login-error">{{compte.Erreur}}</div>
  <!-- <button type="button" id="Test" (click)="Test(compte.Identifiant, compte.MotDePass)">TestWeb</button>
  <button type="button" id="Test2" (click)="Test2(compte.Identifiant, compte.MotDePass)">T</button>
  <button type="button" id="Test3" (click)="Test3(compte.Identifiant, compte.MotDePass)">Test3</button>
  <button type="button" id="Test4" (click)="Test4()">PROF</button> -->
</div>

<div id="Congratulation" *ngIf="Congratulation">
  <h6>Bienvenue {{compte.Prenom}} {{compte.Nom}}</h6>
  <a class="link_viewaccount" (click)="VoirCompte()">Mon compte</a>
  <button type="button" id="deconnexion" (click)="Deconnexion()">Déconnexion</button>
</div>