
<label>Liste des facteurs</label>
<div class="Facteur">
    <app-administrateur-listfacteur></app-administrateur-listfacteur>
    
</div>
<div id="type">
    <div class="typeFacteur">
        <label>Liste des types de facteurs</label>
        <div class="form-group">
            <app-administrateur-listtypefacteur></app-administrateur-listtypefacteur>
        </div>
    </div>
    <div class="typeResponse">
        <label>Liste des types de réponse au facteur</label>
        <div class="form-group">
            <app-administrateur-listtypereponse></app-administrateur-listtypereponse>
        </div>
    </div>
</div>
