<!-- <div class="nav">
  <button id="dropdownBasic1">Synthèse</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button class="dropdown-item" (click)="NombreMensuel()">Fréquence mensuel</button>
    <button class="dropdown-item" (click)="intensiteMoyenMensuel()">Intensité moyenne</button>
    <button class="dropdown-item" (click)="TempMoyen()">Durée moyenne</button>
  </div>
</div> -->

<ul class="navbar-nav" *ngIf="patient && patient.IDWeb > 0">
  <!-- <li class="nav-item dropdown">
    <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Synthèse
    </div>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <button class="dropdown-item" (click)="patient.synthese.courbe1 = !patient.synthese.courbe1; Actualisation()" style="background-color:rgb(248, 125, 125)">
        <input [(ngModel)]="patient.synthese.courbe1" type="checkbox" name="onoffswitch" class="form-check-input" id="myonoffswitch"
          disabled> Fréquence mensuel
      </button>
      <button class="dropdown-item" (click)="patient.synthese.courbe2 = !patient.synthese.courbe2; Actualisation()" style="background-color:rgb(23, 170, 255)">
        <input [(ngModel)]="patient.synthese.courbe2" type="checkbox" name="onoffswitch" class="form-check-input" id="myonoffswitch"
          disabled> Intensité moyenne
      </button>
      <button class="dropdown-item" (click)="patient.synthese.courbe3 = !patient.synthese.courbe3; Actualisation()" style="background-color:rgb(170, 167, 0)">
        <input [(ngModel)]="patient.synthese.courbe3" type="checkbox" name="onoffswitch" class="form-check-input" id="myonoffswitch"
          disabled> Durée moyenne
      </button>
    </div>
  </li> -->



  <!-- <li class="nav-item dropdown">
    <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Médicament
    </div>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <div *ngFor="let Medicament of patient.MesMedicaments;let j=index">
        <button class="dropdown-item" type="button" (click)="ChoisiMedicament(Medicament)">{{Medicament.DenominationMedicament}}</button>
      </div>
    </div> -->

    <li class="nav-item dropdown" >
      <button type="button">Médicament</button>
      <div ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button ngbDropdownToggle></button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <div *ngFor="let Medicament of patient.MesMedicaments;let j=index">
            <button class="dropdown-item" type="button" (click)="ChoisiMedicament(Medicament)">{{Medicament.DenominationMedicament}}</button>
          </div>
        </div>
      </div>
    </li>

    <li class="nav-item dropdown">
      <button type="button">Facteur</button>
      <div ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button ngbDropdownToggle></button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <div *ngFor="let Facteur of patient.MesFacteurs;let j=index">
            <button class="dropdown-item" type="button" (click)="ChoisiFacteur(Facteur)">{{Facteur.Nom}}</button>
          </div>
        </div>
      </div>
    </li>

    <li class="nav-item dropdown">
      <button type="button">Graphique</button>
      <div ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button ngbDropdownToggle></button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" type="button" (click)="Actualisation('line')">ligne</button>
            <button class="dropdown-item" type="button" (click)="Actualisation('bar')">bar</button>
            <button class="dropdown-item" type="button" (click)="Actualisation('radar')">radar</button>
        </div>
      </div>
    </li>


  <!-- </li> -->
  <!-- <li class="nav-item dropdown">
    <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Facteur
    </div>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <div *ngFor="let Facteur of patient.MesFacteurs;let j=index">
        <button class="dropdown-item" type="button" (click)="ChoisiFacteur(Facteur)">{{Facteur.Nom}}</button>
      </div>
    </div>
  </li> -->
  <!-- <li class="nav-item dropdown">
    <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Graph
    </div>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <button class="dropdown-item" type="button" (click)="Actualisation('line')">ligne</button>
      <button class="dropdown-item" type="button" (click)="Actualisation('bar')">bar</button>
      <button class="dropdown-item" type="button" (click)="Actualisation('radar')">radar</button>
    </div>
  </li> -->
</ul>


<!-- <div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Synthèse</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" (click)="NombreMensuel()">Fréquence mensuel</button>
        <button class="dropdown-item" (click)="intensiteMoyenMensuel()">Intensité moyenne</button>
        <button class="dropdown-item" (click)="TempMoyen()">Durée moyenne</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Médicament</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div *ngFor="let Medicament of patient.MesMedicaments;let j=index">
            <button class="dropdown-item" type="button" (click)="ChoisiMedicament(Medicament)">{{Medicament.DenominationMedicament}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Facteur</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <div *ngFor="let Facteur of patient.MesFacteurs;let j=index">
              <button class="dropdown-item" type="button" (click)="ChoisiFacteur(Facteur)">{{Facteur.Nom}}</button>
          </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container" *ngIf="patient && patient.synthese != null">
<!-- <div class="container" *ngIf="patient"> -->
  Nombre Mensuel
  <div class="col-md-12">
    <div style="display: block;">
      <canvas baseChart 
        [datasets]="patient.synthese[0].lineChartData"
        [labels]="patient.synthese[0].lineChartLabels"
        [options]="patient.synthese[0].lineChartOptions"
        [chartType]="patient.synthese[0].lineChartType"
        [colors]="patient.synthese[0].lineChartColors"
        [legend]="patient.synthese[0].lineChartLegend"
        (chartHover)="patient.synthese[0].chartHovered($event)"
        (chartClick)="patient.synthese[0].chartClicked($event)">
      </canvas>
    </div>
  </div>
  <div class="container">
    Intensité Moyenne Mensuel
    <div class="col-md-12">
      <div style="display: block;">
        <canvas baseChart 
          [datasets]="patient.synthese[1].lineChartData"
          [labels]="patient.synthese[1].lineChartLabels"
          [options]="patient.synthese[1].lineChartOptions"
          [chartType]="patient.synthese[1].lineChartType"
          [colors]="patient.synthese[1].lineChartColors"
          [legend]="patient.synthese[1].lineChartLegend"
          (chartHover)="patient.synthese[1].chartHovered($event)"
          (chartClick)="patient.synthese[1].chartClicked($event)">
        </canvas>
      </div>
    </div>
    <div class="container">
      Durée Moyenne Mensuel
      <div class="col-md-12">
        <div style="display: block;">
          <canvas baseChart 
            [datasets]="patient.synthese[2].lineChartData"
            [labels]="patient.synthese[2].lineChartLabels"
            [options]="patient.synthese[2].lineChartOptions"
            [chartType]="patient.synthese[2].lineChartType"
            [colors]="patient.synthese[2].lineChartColors"
            [legend]="patient.synthese[2].lineChartLegend"
            (chartHover)="patient.synthese[2].chartHovered($event)"
            (chartClick)="patient.synthese[2].chartClicked($event)">
          </canvas>
        </div>
      </div>
</div>