<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Nombre</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" (click)="LectureValeurAbscisse()">Nombre</button>
        <button class="dropdown-item">Intensité moyenne</button>
        <button class="dropdown-item">Durée moyenne</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Médicament</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div *ngFor="let Medicament of patient.MesMedicaments;let j=index">
            <button class="dropdown-item" type="button" (click)="ChoisiMedicament(Medicament)">{{Medicament.DenominationMedicament}}</button>
        </div>
<!--           
        <button class="dropdown-item">Eletridtane</button>
        <button class="dropdown-item">Profenid</button>
        <button class="dropdown-item">Aspirine UPSA</button> -->
      </div>
    </div>
  </div>
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Facteur</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <div *ngFor="let Facteur of patient.MesFacteurs;let j=index">
              <button class="dropdown-item" type="button" (click)="ChoisiFacteur(Facteur)">{{Facteur.Nom}}</button>
          </div>
        <!-- <button class="dropdown-item">Stresse</button>
        <button class="dropdown-item">Vomissement</button>
        <button class="dropdown-item">Boisson</button> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="col-md-12">
      <div style="display: block;">
      <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>




