<div class="container">
    <div class="col-md-12">
      <div style="display: block;">
      <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
    <!-- <div class="col-md-5" style="margin-bottom: 10px">
      <table class="table table-hover table-dark">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
      <button (click)="randomize()">CLICK</button>
    </div> -->


    <!-- <div class="col-md-5">
      <table class="table table-hover table-dark">
        <thead>
          <tr *ngFor="let label of lineChartLabels">
              <th scope="col">{{label}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of lineChartData; let j=index">
              <td>{{data[0]}}</td>
          </tr>
        </tbody>
      </table>
    </div> -->




