div.row{
    width: 100%; height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

/* div.col{
    background-color: brown;
    width: 40px; height: 80%;
} */

ul.navbar-nav
{
    display: flex;
    width: 100%; height: 40px;
    flex-direction: row;
}
    /*width: 100%; height: 40px;
    padwidth: 100%; height: 100%; ding-right : 30px;
    padding-left : 30px;
    /* background-color: brown; *//*
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
*/
.nav-item.dropdown
{
    display: flex;
    position: relative;
    height: 35px;
    margin: 0 1rem 0;
    align-items: center;
    /* width: 50px; height: 35px; */
    /* background-color: yellow; */
}

.nav-item.dropdown button
{
    display: flex;
    background-color: transparent;
    height: 35px;
    border: none;
    color: #ABB4C0;
    align-items: center;
    /* width: 50px; height: 35px; */
    /* background-color: yellow; */
}

.dropdown-menu.show
{
    position: absolute;
}