<nav id="TableauOrdonance">
    <!-- <div class="lignetitre" >
        <div class="titrenom">Denomination</div>
        <div class="titresuppr">Supprimer</div>
    </div>

    <ng-template #popContent>
        <b>Dénomination : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.DenominationMedicament}}</span><br/>
        <b>Titulaire : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.Titulaire}}</span><br/>
        <b>Forme Pharmaceutique : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.FormePharmaceutique}}</span><br/>
        <b>Voies Administration : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.VoiesAdministration}}</span><br/>
        <b>Statut Administratif : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.StatutAdministratif}}</span><br/>
        <b>Procédure Administrative : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.TypeDeProcedureAutorisation}}</span><br/>
        <b>Etat Commercialisation : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.EtatCommercialisatoin}}</span><br/>
        <b>CodeCIS : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.CodeCIS}}</span><br/>
        <b>Statutbdm : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.Statutbdm}}</span><br/>
        <b>Numero Autorisation : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.NumeroAutorisation}}</span><br/>
    </ng-template>

    <div *ngFor="let Medicament of patient.MesMedicaments" style="background :#3e4b5b" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" (mouseenter)="Information(Medicament)">
        <div class="MesMedicament">
            <div class="doneenom">{{Medicament.DenominationMedicament}}</div>
            <div class="doneesuppr"><button type="submit" (click)="Supprimer(Medicament)">Supprimer</button></div>
        </div>
    </div> -->

    <ng-template #popContent>
            <b>Dénomination : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.DenominationMedicament}}</span><br/>
            <b>Titulaire : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.Titulaire}}</span><br/>
            <b>Forme Pharmaceutique : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.FormePharmaceutique}}</span><br/>
            <b>Voies Administration : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.VoiesAdministration}}</span><br/>
            <b>Statut Administratif : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.StatutAdministratif}}</span><br/>
            <b>Procédure Administrative : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.TypeDeProcedureAutorisation}}</span><br/>
            <b>Etat Commercialisation : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.EtatCommercialisatoin}}</span><br/>
            <b>CodeCIS : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.CodeCIS}}</span><br/>
            <b>Statutbdm : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.Statutbdm}}</span><br/>
            <b>Numero Autorisation : </b><span style="color:rgb(150, 150, 150);">{{MedicamentAffichage.NumeroAutorisation}}</span><br/>
        </ng-template>
    <mat-table [dataSource]="patient.TableMedicament" matSort>
        <ng-container matColumnDef="Denomination">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Dénomination</mat-header-cell>
            <mat-cell *matCellDef="let Medicament">{{Medicament.DenominationMedicament}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="Supprimer">
            <mat-header-cell *matHeaderCellDef> Supprimer</mat-header-cell>
            <mat-cell *matCellDef="let Medicament"><button type="submit" (click)="Supprimer(Medicament)">Supprimer</button></mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" [ngbPopover]="popContent" [class.selected]="row == FacteurSelect" triggers="mouseenter:mouseleave" (mouseenter)="Information(row)"></mat-row>
    </mat-table>


</nav>


<!-- <ul>
  <li *ngFor="let Medicament of patient.MesMedicaments">
    {{Medicament.DenominationMedicament}} {{Medicament.FormePharmaceutique}} : {{Medicament.Quantite}}
  </li>  
  
</ul> -->
<app-medicament-gestion></app-medicament-gestion>

