<p>Etat du compte = {{EtatDuCompte}}</p>

<!-- <ul [ngSwitch]="EtatDuCompte">
    <li *ngSwitchCase="0"><h1>Aucun compte a afficher</h1></li>
    <li *ngSwitchCase="1"><app-compte-nouveau></app-compte-nouveau></li>
    <li *ngSwitchCase="2"><app-compte-information></app-compte-information></li>
    <li *ngSwitchCase="3"><app-compte-modification></app-compte-modification></li>
</ul> -->


<!-- <div *ngIf="Nouveaucompte == 'Nouveau'">
    <app-compte-nouveau></app-compte-nouveau>
</div>
<div *ngIf="Nouveaucompte == 'affichage'">
  <app-compte-information></app-compte-information>
</div> -->

