<div class="TableMedecin">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Nom">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nom</mat-header-cell>
      <mat-cell *matCellDef="let compte">{{compte.Nom}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Prénom">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Prénom</mat-header-cell>
      <mat-cell *matCellDef="let compte">{{compte.Prenom}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Identifiant">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Identifiant</mat-header-cell>
      <mat-cell *matCellDef="let compte">{{compte.Identifiant}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Supprimer">
      <mat-header-cell *matHeaderCellDef> Supprimer</mat-header-cell>
      <mat-cell *matCellDef="let compte"><button type="submit" (click)="Supprimer(compte)">Supprimer</button></mat-cell>
    </ng-container>

    <ng-container matColumnDef="Valider">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Valider</mat-header-cell>
      <mat-cell *matCellDef="let compte">
        <button *ngIf="compte.Officiel == false" type="submit" (click)="Valider(compte)">Valider</button>
        <button *ngIf="compte.Officiel == true" type="submit" (click)="Invalider(compte)">Invalider</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator #paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true">
  </mat-paginator>
</div>
