<div *ngIf="patient">
  <div *ngIf="patient.Nom">
    <p>Nom : {{patient.Nom}}</p>
  </div>
  <p>Prenom : {{patient.Prenom}}</p>

  <div *ngIf="patient.MesMedecin">
    <ul>
      <li *ngFor="let medecin of patient.MesMedecin">
        Docteur {{medecin.Nom}} {{medecin.Prenom}}
      </li>
    </ul>
  </div>
  <p>Date de naissance : {{patient.DateNaissance}}</p>
  <div *ngIf="patient.Adresse">
    <p>Adresse : {{patient.Adresse.Numero}} {{patient.Adresse.NomRue}}</p>
    <p>{{patient.Adresse.CodePostal}} {{patient.Adresse.Ville}}</p>
  </div>
  <p>Téléphonne : {{patient.Telephone}}</p>
  <p>Téléphonne portable : {{patient.TelephonePortable}}</p>
  <p>Adresse Mail : {{patient.AdresseMail}}</p>
</div>