<div class="col-md-5" style="margin-bottom: 10px">
  <table class="table table-hover table-dark">
    <tr>
      <th>Date</th>
      <th>Heure Debut</th>
      <th>Heure Fin</th>
      <th>Intensité</th>
      <th>Realpax</th>
      <th>Doliprane</th>
      <th>Aspirine 1000</th>
      <th>Vomissement</th>
      <th>Incapacité de travail</th>
      <!-- <th *ngFor="let label of lineChartLabels">{{label}}</th> -->
    </tr>
    <tr>
      <td>Lundi 12 Mars 2017</td>
      <td>6h30</td>
      <td>9h00</td>
      <td>4</td>
      <td>oui</td>
      <td>oui</td>
      <td>oui</td>
      <td>non</td>
      <td>non</td>
    </tr>
    <!-- <tr *ngFor="let d of lineChartData">
      <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
    </tr> -->
  </table>
</div>

