.star {
font-size: 2.5rem;
color: #b0c4de;
}
.filled {
color: #1e90ff;
}
.bad {
color: #deb0b0;
}
.filled.bad {
color: #ff1e1e;
}
/* div.AffichageListMigraine
{
    position: relative;
    width: 100%; height: 50%;
    border: 1px solid #555454;
} */

button.historiqueComplet {
    display: flex;
    flex-wrap: wrap;
    justify-content : space-between;
    background-color: #3e4b5b;
    border: 1px solid;
    
    border-radius: 5px;
    width: 97%;
    height: 50px;
    margin : 2px 5px 2px 5px;
    color: white;
}
div.Information{
    display: flex;
    flex-wrap: wrap;
    justify-content : space-between;
    background-color: #3e4b5b;
    width: 92%;
    height: 45px;
}
div.IconesBouton{
    width: 8%;
    height: 45px;
    display: flex;
    flex-direction: column;
    /* margin-left: 20%; */
}

button.btn
{
    box-sizing: border-box;
    position: relative; overflow: hidden;
    background-color: transparent;
    /*min-width:22px; max-width:22px;
    min-height:22px; max-height:22px;*/
    width:22px; height:22px;
    padding: 0;
    border: 1px solid #313d4C;
    cursor: pointer;
    flex: 1 0 auto;
}

button.btn img
{
    position: absolute;
    top: 0; left: 0;
    width: 22px; height: 22px;
}
button.btn img.BoutonEdit
{
    background: url('/assets/Edit.png');
    background-repeat: no-repeat;
    background-size: 22px 22px;
}
button.btn img.BoutonDelete
{
    background: url('/assets/Delete.png');
    background-repeat: no-repeat;
    background-size: 22px 22px;
}

button.historiqueComplet :hover{
    background-color: #3e4b5b;
}
div.DateDebut, div.DateFin, div.Duree{
    width: 48%;
    height: 20px;
    padding: 3px;
    padding-top: 2px;
    text-align: left;
    font-size: 0.8rem;
    background-color: #3e4b5b;
    color: white;
}
div.Intensite {
    width: 48%;
    height: 20px;
    font-size: 0.8rem;
    /* margin-bottom: 25px; */
    text-align: left;
    background-color: #3e4b5b;
}
/* div.Intensite > ion-icon{
    font-size: 1.1rem;
    color: white;
} */






button[type=submit]
{
    float: left;
    background-color: #3E8EC6;
    height: 2rem;
    padding: 0 0.6rem;
    border: none;
    color: #FCFCFC;
    font-weight: 300;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.15s ease-in;
}
/* p.a.boutonFacteur{
    float: left;
    background-color: #3E8EC6;
    height: 2rem;
    padding: 0 0.6rem;
    border: none;
    color: #FCFCFC;
    font-weight: 300;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.15s ease-in;
} */

.boutonAjoutMigraine, boutonValidationMigraine, boutonAnnulationMigraine, bontoncollapsMedicament, bontoncollapsFacteur{
    float: left;
    background-color: #3E8EC6;
    height: 2rem;
    padding: 0 0.6rem;
    border: none;
    color: #FCFCFC;
    font-weight: 300;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.15s ease-in;
}

input[type=submit]:hover, button:hover
{
    /* background-color: #3E82B1; */
    background-color: #3e4b5b;
    color: #FCFCFC;
    box-shadow: none;
}

input[type=text], input[type=password], input[type=number], input[type=date], input[type=time], input[type=date]
{
    background-color: #425062;
    height: 2rem;
    padding: 0 .5rem;
    border: 1px solid #4e5e73;

    color: #B8BFC7;
    font-size: .9rem;

    box-shadow: inset 0 0 0.25rem rgba(0,0,0,.15);
    transition: all .15s ease-in;
}

.boutonAjoutMigraine
{
    float: none;
    display: block;
    width: 100%;
    margin-top: 1rem;
}

.boutonAjoutMigraine.disabled
{
    background-color: #3e4b5b;
    color: #313d4C;
    box-shadow: none;
    pointer-events: none;
}

div#wrap-nouvelleMigraine hr:nth-child(1)
{
    margin: 1rem 0 0.25rem;
}

div#wrap-nouvelleMigraine .form-row
{
    display: flex;
    padding: 0.25rem 0;
    align-items: center;
}

div#wrap-nouvelleMigraine .input-group
{
    position: relative; overflow: hidden;
    display: flex;
    min-width: 50%; width: 50%; max-width: 50%;
    flex-direction: column;
    align-items: center
}

div#wrap-nouvelleMigraine .input-group > label
{
    min-width: 100%;
    margin: 0 1rem;
    text-align: center;
}

div#wrap-nouvelleMigraine .input-group > input
{
    min-width: 150px;
    border-radius: 5px;
}

div#wrap-nouvelleMigraine button
{
    float: none;
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}

div#wrap-nouvelleMigraine .form-row.stars
{
    min-height: 2.5rem; height: 2.5rem; max-height: 2.5rem;
    margin-bottom: 1rem;
}

div#wrap-nouvelleMigraine .card-body
{
    background-color: transparent;
    margin-bottom: 1rem;
}

div#wrap-nouvelleMigraine .btn_group
{
    display: flex;
    justify-content: center;
}


div#wrap-nouvelleMigraine .btn_group *:first-child
{
    margin-right: 0.25rem;
}




div#wrap-MigraineModification hr:nth-child(1)
{
    margin: 1rem 0 0.25rem;
}

div#wrap-MigraineModification .form-row
{
    display: flex;
    padding: 0.25rem 0;
    align-items: center;
}

div#wrap-MigraineModification .input-group
{
    position: relative; overflow: hidden;
    display: flex;
    min-width: 50%; width: 50%; max-width: 50%;
    flex-direction: column;
    align-items: center
}

div#wrap-MigraineModification .input-group > label
{
    min-width: 100%;
    margin: 0 1rem;
    text-align: center;
}

div#wrap-MigraineModification .input-group > input
{
    min-width: 150px;
    border-radius: 5px;
}

div#wrap-MigraineModification button
{
    float: none;
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}

div#wrap-MigraineModification .form-row.stars
{
    min-height: 2.5rem; height: 2.5rem; max-height: 2.5rem;
    margin-bottom: 1rem;
}

div#wrap-MigraineModification .card-body
{
    background-color: transparent;
    margin-bottom: 1rem;
}

div#wrap-MigraineModification .btn_group
{
    display: flex;
    justify-content: center;
}


div#wrap-MigraineModification .btn_group *:first-child
{
    margin-right: 0.25rem;
}