<p>
  <p>Bonjour à tous.</p>
  <p>Ce site a pour vocation d'aider les personnes sujettes aux crises de migraine. Ainsi que le personnel de santé.<br/>
  De quel manière ?<br/>
  Simplement en fournissant, pour chacun, un outils de saisie et de consultation d'information sur les migraines.
</p>
<p>
  En tant que médecin si vous souhaitez consulter : 
</p>
<p>
  - la chronologie des migraines de vos patients.<br/>
  - la durée moyenne des migraines.<br/>
  - leurs fréquences mensuel.<br/>
  - Si celle-ci sont corrélé avec des facteurs extérieurs.<br/>
  - Si les médicaments donnés sont efficace.<br/>
  - Si les migraines sont corellé avec des facteurs extérieurs<br/>
</p>
<p>
  Alors, cette outil est là pour vous donner des informations succeptible de vous aider à effectuer un diagnostique.
</p>
<p>
En tant que patient si vous souhaitez : 
</p>
<p>
  - tenir un journal de vos migraine pour le communiquer à votre médecin spécialisé ou les garder simplement pour vous.<br/>
  - Ne pas vous contraindre a de la saisie dans un outils non adapté.<br/>
  - Stoker ces informations personnel de manière sécurisé et sans contraine excessive.<br/>
</p>
<p>
Alors cette outil a été pensé pour vous.<br/>
</p>
<p>
Il se décompose en deux éléments : <br/>
- un site web. <br/>
    Le site Web est dédié au médecins et aux patient. Les Fonctionnalités pour chacun étant différent
    Patient : s'inscrire, modifier ses informations personnnel et son mot de passe. Saisir une nouvelle migraine. Consulter l'ensemble de ses migraines passé et voir les courbes de moyennes.<br/>
    Le Médecin : s'inscrire, modifier ses informations public et personnel. Manager sa liste de patient. Attribuer une liste de médicament pour chaque patient. Attribuer une liste de question pour chaque patient.<br/>
- Une application téléphonique destiné à la saisie de nouvelle migraine le plus simplement possible.<br/>
    patient uniquement : consultation de ses informations personnel. Ajout d'une nouvelle migraine en une fois ou en plusieur fois. <br/>
</p>
