<p>
  <p>Bonjour à tous.</p>
  <p>Ce site a pour vocation d'aider les personnes sujettes aux crises de migraine. Ainsi que le personnel de santé.<br/>
  De quel manière ?<br/>
  Simplement en fournissant, pour chacun, un outil de saisie et de consultation d'information sur les migraines.
</p>
<p>
  En tant que médecin si vous souhaitez consulter : 
</p>
<p>
  - la chronologie des migraines de vos patients.<br/>
  - la durée moyenne des migraines.<br/>
  - leurs fréquences mensuelles.<br/>
  - Si les médicaments donnés sont efficace.<br/>
  - Si les migraines sont corelées avec des facteurs extérieurs<br/>
</p>
<p>
  Alors, cet outil est là pour vous donner des informations susceptible de vous aider à effectuer un diagnostic.
</p>
<p>
En tant que patient si vous souhaitez : 
</p>
<p>
  - tenir un journal de vos migraines pour le communiquer à votre médecin spécialisé ou les garder simplement pour vous.<br/>
  - Ne pas vous contraindre à de la saisie dans un outil non adapté.<br/>
  - Stocker ces informations personnelles de manière sécurisée et sans contrainte excessive.<br/>
</p>
<p>
Alors cet outil a été pensé pour vous.<br/>
</p>
<p>
Il se compose de deux éléments : <br/>
- un site web. <br/>
    Le site Web est dédié aux médecins et aux patients. Les Fonctionnalités pour chacun étant différentes
    Patient : s'inscrire, modifier ses informations personnnelles et son mot de passe. Saisir une nouvelle migraine. Consulter l'ensemble de ses migraines passées et voir les courbes de moyenne.<br/>
    Le Médecin : s'inscrire, modifier ses informations publiques et personnelles. Manager sa liste de patient. Attribuer une liste de médicaments pour chaque patient. Attribuer une liste de questions pour chaque patient.<br/>
- Une application téléphonique destiné à la saisie de nouvelle migraine le plus simplement possible.<br/>
    patient uniquement : consultation de ses informations personnelles. Ajout d'une nouvelle migraine en une fois ou en plusieurs fois. <br/>
</p>
