<div id="Information" *ngIf="compte">
  <div *ngIf="compte.Type">
    <form>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
            <input class="form-control form-control-sm" type="text" placeholder={{compte.Nom}} readonly>
        </div>
        <label class="col-sm-2 col-form-label">Prenom</label>
        <div class="col-sm-10">
          <input class="form-control form-control-sm" type="text" placeholder={{compte.Prenom}} readonly>
        </div>
        <label class="col-sm-2 col-form-label">Identifiant</label>
        <div class="col-sm-10">
          <input class="form-control form-control-sm" type="text" placeholder={{compte.Identifiant}} readonly>
        </div>
      </div>
      <hr>
      <label class="col-form-label">Adresse</label>
      <div class="form-row">
        <label class="col-sm-2 col-form-label">Numero</label>
        <div class="col-sm-2">
            <input class="form-control form-control-sm" type="text" placeholder={{compte.Adresse.Numero}} readonly>
        </div>
        <label class="col-sm-2 col-form-label">Nom Rue</label>
        <div class="col-sm-6">
            <input class="form-control form-control-sm" type="text" placeholder={{compte.Adresse.NomRue}} readonly>
        </div>
      </div>
      <div class="form-row">
        <label class="col-sm-2 col-form-label">Code Postal</label>
        <div class="col-sm-2">
            <input class="form-control form-control-sm" type="text" placeholder={{compte.Adresse.CodePostal}} readonly>
        </div>
        <label class="col-sm-2 col-form-label">Ville</label>
        <div class="col-sm-6">
            <input class="form-control form-control-sm" type="text" placeholder={{compte.Adresse.Ville}} readonly>
        </div>
      </div>
      <hr>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Téléphone Cabinet</label>
        <div class="col-sm-10">
            <input class="form-control form-control-sm" type="mail" placeholder={{compte.Telephone}} readonly>
        </div>
      </div>
      <hr>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">AdresseMail</label>
        <div class="col-sm-10">
            <input class="form-control form-control-sm" type="mail" placeholder={{compte.AdresseMail}} readonly>
        </div>
      </div>
      <hr>
      <div *ngFor="let Horaire of compte.HoraireOuverture">
          <label class="col-form-label">{{Horaire.Jour}}</label>
          <div class="form-row">
            <label class="col-sm-2 col-form-label">Matin</label>
            <div class="col-sm-2">
              <input class="form-control form-control-sm" type="text" name ="HoraireMatin" [(ngModel)]="Horaire.Matin" placeholder={{Horaire.Matin}} disabled>
            </div>
            <label class="col-sm-2 col-form-label">Soir</label>
            <div class="col-sm-2">
              <input class="form-control form-control-sm" type="text" name ="HoraireSoir" [(ngModel)]="Horaire.Soir" placeholder={{Horaire.Soir}} disabled>
            </div>
          </div>
          <hr>
          <!-- <ngb-timepicker [(ngModel)]="time" [size]="small"></ngb-timepicker> -->
      </div>
    </form> 
  </div>
  <div *ngIf="!compte.Type">
      <form>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
                <input class="form-control form-control-sm" type="text" placeholder={{compte.Nom}} readonly>
            </div>
            <label class="col-sm-2 col-form-label">Prenom</label>
            <div class="col-sm-10">
              <input class="form-control form-control-sm" type="text" placeholder={{compte.Prenom}} readonly>
            </div>
            <label class="col-sm-2 col-form-label">Identifiant</label>
            <div class="col-sm-10">
              <input class="form-control form-control-sm" type="text" placeholder={{compte.Identifiant}} readonly>
            </div>
            <label class="col-sm-2 col-form-label">Date Naissance</label>
            <div class="col-sm-10">
              <input class="form-control form-control-sm" type="text" placeholder={{compte.DateNaissance}} readonly>
            </div>
          </div>
          <hr>
          <label class="col-form-label">Adresse</label>
          <div class="form-row">
            <label class="col-sm-2 col-form-label">Numero</label>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" placeholder={{compte.Adresse.Numero}} readonly>
            </div>
            <label class="col-sm-2 col-form-label">Nom Rue</label>
            <div class="col-sm-6">
                <input class="form-control form-control-sm" type="text" placeholder={{compte.Adresse.NomRue}} readonly>
            </div>
          </div>
          <div class="form-row">
            <label class="col-sm-2 col-form-label">Code Postal</label>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" placeholder={{compte.Adresse.CodePostal}} readonly>
            </div>
            <label class="col-sm-2 col-form-label">Ville</label>
            <div class="col-sm-6">
                <input class="form-control form-control-sm" type="text" placeholder={{compte.Adresse.Ville}} readonly>
            </div>
          </div>
          <hr>
    
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Téléphonne</label>
            <div class="col-sm-10">
              <input class="form-control form-control-sm" type="text" placeholder={{compte.Telephone}} readonly>
            </div>
            <label class="col-sm-2 col-form-label">Téléphonne portable</label>
            <div class="col-sm-10">
              <input class="form-control form-control-sm" type="text" placeholder={{compte.TelephonePortable}} readonly>
            </div>
            <label class="col-sm-2 col-form-label">AdresseMail</label>
            <div class="col-sm-10">
                <input class="form-control form-control-sm" type="mail" placeholder={{compte.AdresseMail}} readonly>
            </div>
          </div>
        </form>

    <!-- <div *ngIf="compte.MedecinAttitre"><p>Medecin Attitré : Docteur {{compte.MedecinAttitre.Nom}} {{compte.MedecinAttitre.Prenom}}</p> <button (click)=ListDesMedecins()>Ajout Médecin</button></div>
    <div *ngIf="ListMedecin">
      <ul>
        <li *ngFor="let Compte of ListMedecin" [class.selected]="Compte == CompteSelect" (click)="onselect(Compte)">
            Docteur {{Compte.Nom}} {{Compte.Prenom}}
        </li>
      </ul>
    </div> -->

  </div>
  <button type="button" class="btn btn-outline-primary" (click)="ModificationCompte()">Modification du compte</button>
  <!-- <popup> {{compte.Erreur}}</popup> -->
  <div *ngIf="!NouveaMotDePass">
    <!-- <button (click)=ChMotDePass()>changement mot de passe</button> -->
    <button type="button" class="btn btn-outline-primary" (click)="ChMotDePass()">changement mot de passe</button>
  </div>
  <div *ngIf="NouveaMotDePass">
    <app-compte-changemotdepass></app-compte-changemotdepass>
  </div>
</div>
