/* .selected {
    background-color: #cfd8dc;
    color : white
}
.patients {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.patients li{
    cursor: pointer;
    position:  relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.patients li.selected:hover{
    background-color: #BBD8DC;
    color: white;
}
.patients li:hover{
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.patients .text{
    position: relative;
    top: -3px;
}
.patients .block{
    display: inline-block;
    font-size: small;
    color:white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-left: .8em;
    border-radius: 4px 0 0 4px; 
} */

ul
{
    display: table;
    margin: 0; padding: 0;
    list-style: none;	
}

ul li
{
    display: block;
    height: 2rem;
    padding: 0 1.5rem;

    border-bottom: 1px solid #455466;

    line-height: 2rem;
}
ul li:first-child
{
    border-top: 1px solid #455466;
}
ul li:hover
{
    background-color: #3e4b5b;
}

ul li a
{
    color: #ABB4C0;
    text-decoration: none;
}