button[type=submit]
{
    float: left;
    background-color: #3E8EC6;
    height: 2rem;
    padding: 0 1rem;
    border: none;
    color: #FCFCFC;
    font-weight: 300;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.15s ease-in;
}

input[type=submit]:hover, button:hover
{
    background-color: #3E82B1;
    color: #FCFCFC;
    box-shadow: none;
}

.mat-header-row{
    background-color: #4f6075;
    border-bottom: 1px solid #4E5E73;
}

.mat-row{
    background-color: #425062;
    border-bottom: 1px solid #4E5E73;
}
.mat-row:hover{
    background-color: #3E82B1;
    border-bottom: 1px solid #4E5E73;
}

.mat-cell{
    font-size: 14px;
}
.mat-header-cel{
    font-size: 20px;
}

.mat-cell, .mat-header-cell{
    color: #FCFCFC;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

mat-header-cell.mat-sort-header-sorted {
    color: black;
}

.mat-paginator {
    min-height: 30x;
    background-color: #4f6075;
}
.TableTypeReponse{
    border: 1px solid #4E5E73;
}